<%- include('partials/header'); %>

    <main class="flex flex-col flex-grow md:flex-row">
        <img class="w-full md:w-1/2 md:h-auto object-cover" src="/img/landing-img.png" alt="">
        <div class="flex-grow md:w-1/2 md:h-auto flex flex-col justify-around md:justify-center px-4 ">
            <h1 class="text-5xl lg:text-8xl text-shadow font-bold text-white font-lora">Discover books you'll love!</h1>
            <p class="py-2 text-shadow text-white font-lora text-lg">
                Neutrum vero, inquit ille. Sed tu istuc dixti bene Latine, parum plane. Duo Reges: constructio interrete
            </p>
            <a class="my-2 w-auto sm:w-40 text-center font-roboto font-bold rounded-full py-1 px-6 text-black bg-yellow-400" href="/search">Get Started</a>
        </div>
    </main>

    <%- include('partials/footer') %>