<%- include('partials/header'); %>

    <h1 class="text-5xl text-green-600	">Esta es la landing page</h1>

    <button class="bg-black text-white"><a href="/search">Get Started</a> </button>

    <%- include('partials/footer') %>