<%- include('partials/header'); %>

    <main id="main" class="grid bg-white sm:bg-transparent max-h-screen">
        <div class="place-self-center sm:bg-white p-6 space-y-6 flex flex-col justify-center h-screen sm:rounded-xl sm:h-auto sm:w-4/5 md:w-3/5 lg:w-1/2">
            <h2>Register</h2>
            <p>Create your account. It's free and only takes a minute</p>
            <form action="/register" method="POST">
                <div class="relative my-4 flex rounded-md shadow-xl border border-gray-100">
                    <label for="username" class="absolute -top-2.5 left-3 text-xs text-gray-300 bg-white">Username</label
        >
        <input
          id="username"
          type="text"
          class="p-3 focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
          name="username"
          placeholder="username"
        />
      </div>
      <div
        class="relative my-4 flex rounded-md shadow-xl border border-gray-100"
      >
        <label
          for="password"
          class="absolute -top-2.5 left-3 text-xs text-gray-300 bg-white"
          >Password</label
        >
        <input
          id="password"
          type="password"
          class="p-3 focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300"
          name="password"
          placeholder="password"
        />
      </div>

      <button
        class="my-2 w-auto sm:w-40 text-center font-roboto font-bold rounded-full py-1 px-6 text-black bg-yellow-400"
      >
        Register Now
      </button>
    </form>
  </div>
</main>