<%- include('partials/header'); %>

    <h1>Resultados</h1>

    <h2>Titulo:</h2>
    <h2>
        <%= book.title %>
    </h2>
    <h2>Author:
        <% book.authors.forEach(author => { %>
            <div>
                <%= author.name %>
            </div>
            <% }) %>
    </h2>

    <a href="/">Search Again!</a>
    <%- include('partials/footer'); %>