<%- include('partials/header'); %>

    <h1>Search form</h1>
    <form action="/results" method="GET">
        <input type="text" name="search" id="query">
        <button>submit</button>
    </form>
    <%- include('partials/footer'); %>